  <!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index","Home")">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index", "Tags")">
                <i class="bi bi-tags"></i>
                <span>Tags</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index", "Blogs")">
                <i class="ri-article-line"></i>
                <span>Blog</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index", "Categories")">
                <i class=" bx bx-category-alt"></i>
                <span>Category</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index", "Elevators")">
                <i class="bi bi-ladder"></i>
                <span>Elevator</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index", "Orders")">
                <i class="bi bi-basket2"></i>
                <span>Order</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index", "Projects")">
                <i class="ri-hand-coin-line"></i>
                
                <span>Project</span>
            </a>
        </li><!-- End Dashboard Nav -->



        <li class="nav-item">
            <a class="nav-link " href="index.html">
                <i class="bi bi-grid"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Dashboard Nav -->
    </ul>

</aside><!-- End Sidebar-->
